table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
}

table tr {
  border: 1px solid #ddd;
  padding: 8px;
  height: 40px;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #62d49f;
  color: white;
}
